<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Expression Recognition</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Facial Expression Recognition</h1>
        <div class="video-container">
            <video id="video" width="640" height="480" autoplay></video>
        </div>
        <div class="button-container">
            <button id="capture">Capture</button>
            <button id="recapture" style="display:none;">Recapture</button>
        </div>
        <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
        <img id="capturedImage" style="display:none;" />
        <p id="result"></p>
    </div>

    <script src="static/script.js"></script>
</body>
</html>



